<template>
  <form @submit.prevent="submit">
    <div class="row">
      <label for="description">Description</label>

      <textarea id="description" v-model="description"></textarea>
    </div>

    <button type="submit">Créer</button>
  </form>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
  setup(_, context) {
    const description = ref("");

    const submit = function () {
      context.emit("new", {
        done: false,
        description: description.value,
      });

      description.value = "";
    };

    return { description, submit };
  },
});
</script>
