<template>
  <header>
    Vous avez encore {{ todo.length }}
    {{ todo.length > 1 ? "tâches" : "tâche" }} à faire !
  </header>
</template>

<script lang="ts">
import { defineComponent, inject } from "vue";

export default defineComponent({
  setup() {
    const todo = inject("todo");
    return { todo };
  },
});
</script>
