<template>
  <div class="list-todo">
    <h2>Tâches à faire</h2>

    <ul>
      <li v-for="item in todo" :key="item">
        <button type="button" @click="markDone(item)">Fait</button>
        {{ item.description }}
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType, inject } from "vue";
import { Task } from "@models/task.model";

export default defineComponent({
  props: {
    items: {
      type: Array as PropType<Task[]>,
      required: true,
    },
  },
  setup(props, context) {
    const markDone = function (task: Task) {
      context.emit("markDone", task);
    };

    const todo = inject("todo");

    return { todo, markDone };
  },
});
</script>
