<template>
  <div class="list-done">
    <h2>Tâches réalisées</h2>

    <ul>
      <li v-for="item in done" :key="item">
        {{ item.description }}
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { defineComponent, inject } from "vue";

export default defineComponent({
  setup() {
    const done = inject("done");
    return { done };
  },
});
</script>
