<template>
  <div class="app">
    <Header />
    <Form @new="add($event)" />

    <ListTodo v-if="todo.length > 0" @markDone="markDone($event)" />
    <ListDone v-if="done.length > 0" />
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, computed, provide } from "vue";
import { Task } from "./models/task.model";

// Components.
import Header from "./components/Header.vue";
import Form from "./components/Form.vue";
import ListTodo from "./components/ListTodo.vue";
import ListDone from "./components/ListDone.vue";

export default defineComponent({
  name: "App",
  components: {
    Header,
    Form,
    ListTodo,
    ListDone,
  },
  setup() {
    const items = ref<Task[]>([]);

    // Computed.
    const done = computed(function () {
      return items.value.filter((i) => i.done);
    });

    const todo = computed(function () {
      return items.value.filter((i) => !i.done);
    });

    // Functions.
    const add = function (task: Task) {
      items.value = [...items.value, task];
    };

    const markDone = function (task: Task) {
      task.done = true;
    };

    provide("done", done);
    provide("todo", todo);

    return { todo, done, add, markDone };
  },
});
</script>
